<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/container_2.css">
    <link rel="stylesheet" href="/styles/nav.css">
    <title>clowntrick</title>
</head>
<body>
    <%- include('./partials/nav') %>

    <% if (user) { %>
        <section id="menu_hilos">
    <% }else{ %>
        <section id="menu_hilos" style="height: 0vh;">
    <% } %>
    
        <% if (user) { %>
            <div id="agregar_hilo">
                <p>Responder a este hilo</p>
                <a href="/responder/<%=results[0].id%>">Responder</a>
            </div>
        <% } %>
    </section>


    <% if (user) { %>
        <section id="padre_hilos">
    <% }else{ %>
        <section id="padre_hilos" style="margin-top: 0vh;">
    <% } %>
        <section id="container_hilos">
    
            <% for( let hilo = 0; hilo < results.length; hilo++ ) { %>

                <div class="hilo">
                    
                    <div class="user" style="border-right: 1px solid #9fef00;">
                        <div class="user_info">
                            <p>@<%= results[hilo].nickname %> </p>
                            <p>Participaciones : <%= results[hilo].mensajes %></p>
                        </div>
                        <div class="hilo_titulo">
                            <p class="titulo_subrayado"><%= results[hilo].titulo %></p>
                            <div class="hilon">
                                <p><%= results[hilo].texto %></p>
                            </div>
                        </div>
                    </div>
    
                </div>

            <% } %>

            <% for( let reply_index = 0; reply_index < respuestas_hilo.length; reply_index++ ) { %>
                <div class="hilo">
                    <div class="user">
                        <div class="user_info">
                            <p>@<%= respuestas_hilo[reply_index].nickname %> </p>
                            <p>Participaciones : <%= respuestas_hilo[reply_index].mensajes %></p>
                        </div>
                        <div class="hilo_titulo">
                            <% if (results[0].id_user == respuestas_hilo[reply_index].id) {%>
                                <div class="hilon">
                                    <p><%= respuestas_hilo[reply_index].texto %></p>
                                </div>
                            <% }else{ %>
                                <div>
                                    <p><%= respuestas_hilo[reply_index].texto %></p>
                                </div>
                            <% } %>
                        </div>
                    </div>
    
                </div>
            <% } %>
    
    
        </section>

    </section>

</body>
</html>