<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">

    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/container.css">
    <link rel="stylesheet" href="/styles/nav.css">
    <title>clowntrick</title>
</head>
<body>
    <%- include('./partials/nav') %>

    <% if (user) { %>
        <section id="menu_hilos">
    <% }else{ %>
        <section id="menu_hilos" style="height: 10vh;">
    <% } %>
    
    <% if (user) { %>
        <div id="agregar_hilo">
            <p>Añadir nuevo hilo</p>
            <a href="/nuevo_hilo">Añadir</a>
        </div>
    <% } %>
    <div id="menu_hilos2">
        <div id="info_hilo">
            <span></span>
            <div>
                <a href="/populares">
                    <h4>Mas Populares</h4>
                </a>
                <a href="/">
                    <h4>Mas Recientes</h4> 
                </a>
            </div>
        </div>

            <div id="stats">
                <h4>Respuestas</h4>
                <h4>Visitas</h4>
            </div>
    </div>

    </section>

    <% if (user) { %>
        <section id="padre_hilos">
    <% }else{ %>
        <section id="padre_hilos" style="margin-top: 20vh;">
    <% } %>
        <section id="container_hilos">
    
            <% for( let hilo = 0; hilo < results.length; hilo++ ) { %>

                <div class="hilo">
                    
                    <div class="user">
                        <div class="user_info">
                            <p>@<%= results[hilo].nickname %> </p>
                            <p class="participaciones">Participaciones : <%= results[hilo].mensajes %></p>
                        </div>
                        <a href="/hilo/<%= results[hilo].id  %>" class="hilo_titulo">
                            <p class="titulo"><%= results[hilo].titulo %></p>
                            <p class="fecha"><%= results[hilo].hilo_creacion %></p>
                        </a>
                    </div>

                    <div class="hilo_info">
                        <p><%= results[hilo].num_respuestas %></p>
                        <p><%= results[hilo].views %></p>
                    </div>
    
                </div>

            <% } %>
    
    
        </section>

    </section>

    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    <script src="/scripts/client_socket.js"></script>
    <script src="/scripts/traducir_fechas.js"></script>
</body>
</html>