<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">

    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/container.css">
    <link rel="stylesheet" href="/styles/nav.css">
    <title>clowntrick</title>
</head>
<body>
    <%- include('./partials/nav') %>

    <% if (user) { %>
        <section id="padre_hilos" style="margin-top: 13vh;">
    <% }else{ %>
        <section id="padre_hilos" style="margin-top: 20vh;">
    <% } %>
        <section id="container_hilos">
            <% if (results.length>0) { %>                
                <div style="width: 95%;display: flex;justify-content: end;padding-top:2rem;">
                    <h5 style="color: white;margin-right: 1.5rem;">Respuestas</h5>
                    <h5 style="color: white;">Visitas</h5>
                </div>
            <% } %>
            <% if (results.length == 0) { %>
                <h1 style="color:white;margin: 7rem 0 0 7rem;padding-bottom: 5rem;">No tienes hilos creados</h1>
            <% } %>
            <% for( let hilo = 0; hilo < results.length; hilo++ ) { %>

                <div class="hilo">
                    
                    <div class="user">
                        <div class="user_info">
                            <p>@<%= results[hilo].nickname %> </p>
                            <p class="participaciones">Participaciones : <%= results[hilo].mensajes %></p>
                        </div>
                        <a href="/hilo/<%= results[hilo].id  %>" class="hilo_titulo">
                            <p class="titulo"><%= results[hilo].titulo %></p>
                            <p class="fecha"><%= results[hilo].hilo_creacion %></p>
                        </a>
                    </div>
                    
                    <div class="hilo_info">
                        <p><%= results[hilo].num_respuestas %></p>
                        
                        <p><%= results[hilo].views %></p>
                        <a style="color: white;" href="/delete/<%= results[hilo].id %>">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                    </div>
    
                </div>

            <% } %>
    
    
        </section>

    </section>

    <script src="/scripts/traducir_fechas.js"></script>
</body>
</html>